<!-- <div><mat-icon class="icon-size">calendar_month</mat-icon><span class="aligned-with-icon">Année {{nbGuests}}</span></div> -->
<div><mat-icon class="icon-size">people</mat-icon><span class="aligned-with-icon">{{nbGuests}} voyageurs</span></div>
<div><mat-icon class="icon-size">night_shelter</mat-icon><span class="aligned-with-icon">{{totalDays}} nuits - {{averageBookDuration}} nuits par séjour</span></div>
<div><mat-icon class="icon-size">euro</mat-icon><span class="aligned-with-icon">{{totalPrice}} euros - {{averagePriceHost}} euros par séjour</span></div>